@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.agentauth-main{
    height: 100vh;
    width: 100vw;
    background: #e5e5e5;
    background-image: url(city-07.png);
    background-size: cover
    /* margin-bottom: 1em; */
}

.portal-title{
    /* height: 20em; */
    /* width: 100%; */
    margin-bottom: 2em;
    margin-top:3.5em;
    /* margin-right: 8em; */
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    color: #3c3f63;
}

.agentauth-btns{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50em;
}

.register-btn{
    font-family: 'Raleway', sans-serif;
    border: 1px solid #A6A6C7;
    width: 260px;
    /* height: 40px;  */
    color: #3c3f63;
    font-weight: 700;
    background: #A6A6C7;
    font-size: 20pt;
    margin-bottom: 1em;
    border-radius: 3px;
    outline: none;
    padding: 1em;
}

.register-btn:hover{
    background: linear-gradient(79deg, rgba(60,63,99,1) 0%, rgba(166,166,199,1) 100%);
    color: #e5e5e5;
}

.login-btn{
    font-family: 'Raleway', sans-serif;
    border: none;
    width: 260px;
    /* height: 40px; */
    background: #3c3f63;
    font-size: 20pt;
    color: white;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10em;
    padding: 1em;
}

.login-btn:hover{
    background: linear-gradient(79deg, rgba(60,63,99,1) 0%, rgba(166,166,199,1) 100%);
    color: #e5e5e5;
}

.display-register{
    position: fixed;
    min-height: 50vh;
    width: 40%;
    top: 25vh;
    background: #3c3f63;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8em;
    margin-left: 1.5em;
    border-radius: 0.5em;
}

.display-login{
    position: fixed;
    min-height: 50vh;
    width: 40%;
    top: 25vh;
    background: #3c3f63;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8em;
    margin-left: 1.5em;
    border-radius: 0.5em;
}

.register-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: #e5e5e5;
}

.register-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-inputs > input{
    font-family: 'Raleway', sans-serif;
    height: 30px;
    width: 75%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 12pt;
    outline: none;
    margin-top: 12px;
}

.register-btns{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.register-cancel{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    border: 1px solid #A6A6C7;
    width: 6em;
    height: 2em;
    background: white;
    font-size: 12pt;
    border-radius: 1px;
    outline: none;
}

.register-submit{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    border: none;
    width: 6em;
    height: 2em;
    background: #A6A6C7;
    font-size: 12pt;
    color: white;
    border-radius: 1px;
    outline: none;
}

.dont-display{
    display: none
}

@media(max-width: 414px){
    .agentauth-main{
        height: 100vh;
        width: 100vw;
        background: #e5e5e5;
        background-image: url(city-03.png);
        margin-bottom: 1em;
    }

    .portal-title{
        /* height: 20em; */
        /* width: 100%; */
        margin-bottom: 1em;
        margin-right: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
    }
    
    .agentauth-btns{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4em;
        margin-right: 0em;
    }

    .register-btn{
        font-family: 'Raleway', sans-serif;
        border: 1px solid #A6A6C7;
        width: 260px;
        height: 40px;
        color: #3c3f63;
        /* background: white; */
        font-size: 15pt;
        margin-bottom: 1em;
        border-radius: 1px;
        outline: none;
        padding: 0;
    }

    .login-btn{
        font-family: 'Raleway', sans-serif;
        border: none;
        width: 260px;
        height: 40px;
        background: #3c3f63;
        font-size: 15pt;
        color: white;
        border-radius: 3px;
        outline: none;
        margin-bottom: 10em;
        padding: 0;
    }

    .display-register{
        position: fixed;
        min-height: 50vh;
        width: 88%;
        top: 25vh;
        background: #3c3f63;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3em;
        margin-left: 1.5em;
        border-radius: 0.5em;
    }

    .display-login{
        position: fixed;
        min-height: 50vh;
        width: 90%;
        top: 25vh;
        background: #3c3f63;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3em;
        margin-left: 1.5em;
        border-radius: 0.5em;
    }

    .register-title{
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        color: #e5e5e5;
    }

    .register-inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register-inputs > input{
        font-family: 'Raleway', sans-serif;
        height: 30px;
        width: 75%;
        box-sizing: border-box;
        padding-left: 10px;
        font-size: 12pt;
        outline: none;
        margin-top: 12px;
    }

    .register-btns{
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    .register-cancel{
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
        border: 1px solid #A6A6C7;
        width: 6em;
        height: 2em;
        background: white;
        font-size: 12pt;
        border-radius: 1px;
        outline: none;
    }

    .register-submit{
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
        border: none;
        width: 6em;
        height: 2em;
        background: #A6A6C7;
        font-size: 12pt;
        color: white;
        border-radius: 1px;
        outline: none;
    }

    .dont-display{
        display: none
    }
}