.navbar{
    width: 100%;
    height: 5em;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    height:10vh;
    width:100%;
    background:#3c3f63;
    position: fixed;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index:900;
}



.search-icon-container{
    z-index:999;
    position:fixed;
}

.hamburglar{
    display:none;
}

.closer{
    display:none;
}
.empty-space{
    display: none;
}

.inner-nav{
    display:flex;
    flex-direction: row;
}

.search-input-container{
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    transition: .5s;
}

.register-btn{
    color:white;
}

.login-btn{
    color:white;
}

.realtor-portal{
    text-decoration: none;
    color:white;
}

.dont-display{
    display: none;
}

@media(max-width: 1024px){
    .nav-menu{
        height:10vh;
        width:100%;
        background:#3c3f63;
        position: fixed;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        z-index:900;
    }

    

    .search-icon-container{
        z-index:999;
        position:fixed;
    }

    .hamburglar{
        display:none;
    }

    .closer{
        display:none;
    }
    .empty-space{
        display: none;
    }

    .inner-nav{
        display:flex;
        flex-direction: row;
    }

    .search-input-container{
        height: 60px;
        width: 100%;
        position: fixed;
        display: flex;
        top: 0px;
        transition: .5s;
    }

    .register-btn{
        color:white;
    }

    .login-btn{
        color:white;
    }

    .realtor-portal{
        text-decoration: none;
        color:white;
    }
}
















@media(max-width:414px){
    .nav-menu{
        height: 100vh;
        width: 100%;
        position: fixed;
        display:flex;
        justify-content: flex-end;
        z-index: 1000;
        left: 100%;
        transition: .6s;
        background:transparent;
    }

    .register-container{
        height:10vh;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        color:#3c3f63;
        border-bottom: 1px solid #c6e5d2;
    }

    .slide-out{
        left: 0px;
    }

    .hamburglar{
        display:flex;
    }
    
    .burger-menu{
        font-size:30%;
        position: fixed;
    }

    .close-btn{
        width:100%;
        height:10vh;
        display:flex;
        align-items:center;
        justify-content: flex-start;
        margin-left:55px;
        
    }

    .closer{
        color:#3c3f63;
        display: flex;
    }

    .realtor-container{
        height:10vh;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #c6e5d2;
        border-bottom: 1px solid #c6e5d2;
    }

    .login-container{
        height:10vh;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #c6e5d2;
        
    }

    .realtor-portal{
        text-decoration: none;
        font-size:20px;
        color:#3c3f63;

    }

    .login-btn{
        text-decoration: none;
        font-size:20px;
        color:#3c3f63
    }

    .register-btn{
        text-decoration: none;
        font-size:20px;
        color:#3c3f63;
    }

    .inner-nav{
        width:70%;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background:white;
        box-shadow: -4px 1px 15px 0px rgba(0,0,0,0.75);
    }

    .empty-space{
        width:30%;
        height:100%;
        background:transparent;
        display:flex;
        
    }

    .main-menu{
        height: 60px;
        width: 100%;
        background: #A6A6C7;
        box-sizing: border-box;
        border-bottom: 1px solid #3c3f63;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 998;
    }

    .search-icon-container{
        height:60px;
        width:50px;
    }

    .search-input-container{
        height: 60px;
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 900;
        top: 0px;
        transition: .5s;
    }

    .search-input{
        height: 60px;
        width: calc(100% - 60px);
        border: none;
        outline: none;
        font-size: 18px;
        box-sizing: border-box;
        padding-left: 20px;
        border-bottom: 1px solid #e5e5e5;
    }

    .slide-search{
        top: 60px;
    }

    .search-btn-container{
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background: grey;
    }

    .search-btn{
        height: 30px;
    }

    .display-login{
        height:100vh;
        width:100vw;
        background:blue;
        position: fixed;
    }

    .login-modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}